<ion-view view-title="Donation Flow">
  <ion-content>

  	<div class="content padding">
  	<div ng-show="Salesforce.unsyncedItems>0" style="line-height:45px;">
  	Unsynced items: {{Salesforce.unsyncedItems}} {{Salesforce.isSyncing()}} <button  ng-click="Salesforce.sync()" style="float:right;background-color: #000080;" class=" right button button-balanced">Sync to Salesforce</button>
    </div>
    <div ng-show="Salesforce.unsyncedItems==0">
  	All synced
    </div>

    <!--<div class="padding">
    <h1 style="display: inline-block">Forms</h1>
	<img src="img/unity_care_logo.jpg" style="width: 25%;height: 25%; float:right">
	</div> -->
    <button type="submit" style="margin-top:50px;" ng-click="incomingDonations()" class="button button-block button-positive"> Incoming Donations</button>
    <button type="submit" style="margin-top:30px;" ng-click="outgoingDonations()" class="button button-block button-positive"> Outgoing Donations
    </button>
	</div>
  
    <img style="width: 80%; text-align:center;display: block; margin: 0 auto;" src="img/logo.jpg">
  </ion-content>
</ion-view>
