<ion-view view-title="Forms">
  <ion-content>
  	<div class="content padding">
  	<div ng-show="Salesforce.unsyncedItems>0" style="line-height:45px;">
  	Unsynced items: {{Salesforce.unsyncedItems}} {{Salesforce.isSyncing()}} <button  ng-click="Salesforce.sync()" style="float:right;" class=" right button button-positive">Sync to Salesforce</button>
    </div>
    <div ng-show="Salesforce.unsyncedItems==0">
  	All synced
    </div>

    <h1>Forms</h1>
    <button type="submit" ng-click="incomingDonations()" class="button button-block button-positive"> Incoming Donations</button>
    <button type="submit" ng-click="outgoingDonations()" class="button button-block button-positive"> Outgoing Donations
    </button>
	</div>
  </ion-content>
</ion-view>
