
<!--
<ion-nav-bar>
  			<ion-nav-back-button class="button-clear button-dark">
  				<i class="ion-arrow-left-c"></i> Back
  			</ion-nav-back-button>	
  		</ion-nav-bar>
-->
<ion-view view-title="Forms">
  <ion-content>
  	<div class="content padding">
    <h1>Incoming Donations Form</h1>
    <form name="incomingDonationsForm" ng-submit=" " >
    	<div class="list" >
    		<label class="item item-input" >
    			<span class="input-label">Staff Name</span>
    			<input type="text" name="staffName" ng-model="" required > </input> 
    		</label> 
    	</div>
    </form>
	</div>
  </ion-content>
</ion-view>
