<ion-modal-view>

  <ion-header-bar>
    <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="closeIncomingDonations()" style="font-weight: 500;" >Back</a>
    <h1 class="title">Login</h1>
    <button style="font-weight: 500;" class="button button-clear button-dark">
      Submit
    </button>
  </ion-header-bar>


  <ion-content>
  	<div class="content padding">
    <h1>Incoming Donations Form</h1>
    <form name="incomingDonationsForm" ng-submit="incomingDonationsSubmit(incomingDonationsForm)" >
    	<div class="list" >
    		<label class="item item-input" ng-class="{'has-errors':incomingDonationsForm.staffName.$invalid , 'no-errors':incomingDonationsForm.staffName.$valid}">
    			<span class="input-label">Staff Name</span>
    			<input type="text" name="staffName" ng-model="userData.staffName" required ></input>
    		</label> 
    		<div class="error-container" ng-show="incomingDonationsForm.staffName.$error" ng-messages="incomingDonationsForm.staffName.$error">
    			<div ng-messages-include="error-list.html"></div>
    		</div>
    		<label class="item item-input" ng-class="{'has-errors':incomingDonationsForm.programName.$invalid, 'no-errors':incomingDonationsForm.programName.$valid} ">
    			<span class="input-label">Program</span>
    			<input type="text" name="programName" ng-model="userData.programName" required > </input>
    		</label> 
    		<div class="error-container" ng-show="incomingDonationsForm.programName.$error" ng-messages="incomingDonationsForm.programName.$error">
    			<div ng-messages-include="error-list.html"></div>
    		</div>
    		<label class="item item-input" ng-class="{'has-errors':incomingDonationsForm.familyName.$invalid, 'no-errors':incomingDonationsForm.familyName.$valid}">
    			<span class="input-label">Family Name</span>
    			<input type="text" name="familyName" ng-model="userData.familyName" required > </input>
    		</label> 
    		<div class="error-container" ng-show="incomingDonationsForm.familyName.$error" ng-messages="incomingDonationsForm.familyName.$error">
    			<div ng-messages-include="error-list.html"></div>
    		</div>
    		<button class="button button-full button-positive" type="submit">
    			Submit
    		</button>
    	</div>
    </form>
	</div>
  </ion-content>
</ion-modal-view>
